.username {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts {
  margin-bottom: 50px;
}

.user-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-info > li {
  font-size: 18px;
  margin-bottom: 20px;
}

.posts-link {
  display: block;
  width: 250px;
  text-align: center;

  color: #ffffff;
  background-color: #000000;
  text-decoration: none;

  margin: 0 auto;
}
