html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  height: 100vh;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.container {
  width: 1280px;

  margin-right: auto;
  margin-left: auto;
}
